.btn {
  display: inline-block;

  background-color: rgb(255, 95, 27);
  color: black;

  padding: 10px;
  font-size: 15px;

  border-radius: 5px;
  border: 2px solid rgb(255, 95, 27);
  text-decoration: none;
  border: none;
}
