.wrapper_header {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: rgb(71, 71, 71);

  height: 70px;
  max-width: 100%;

  padding: 10px;
}
.auth_list {
  display: flex;
  align-items: center;
}
.auth_item {
  &:not(:last-child) {
    margin-right: 20px;
  }
}
.auth_link {
  display: inline-block;

  color: rgb(255, 255, 255);

  font-size: 20px;
  font-weight: 500;

  padding: 10px;

  border-radius: 5px;
  text-decoration: none;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;

  border-bottom: 2px solid rgb(255, 77, 0);
  transition: all 250ms linear;
}
.auth_linkActive {
  display: inline-block;

  color: rgb(255, 255, 255);

  padding: 10px;
  font-size: 20px;
  font-weight: 500;

  border-radius: 5px;
  text-decoration: none;

  border: 2px solid rgb(255, 77, 0);

  transition: all 250ms linear;
}
.profile_item {
  position: relative;
}
.profile {
  display: block;
  background-color: white;
  width: 45px;
  height: 45px;

  font-weight: 700;

  border-radius: 50%;
  text-decoration: none;
}
